<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(
            String.IsNullOrEmpty(ViewData["title"] as String)
                ? "Наш Сад"
                : $"{ViewData["title"]} | Наш Сад"
        )
    </title>
    <meta name="description" content="@(ViewData["metaDescription"] ?? "")" />
    <base href="~/" />

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5fd55b">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="~/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <environment include="Production">
        <script src="//code.jivosite.com/widget.js" data-jv-id="@(ViewData["jivoSiteId"] ?? "")" async></script>
    </environment>

    @foreach (var bundle in (string[])ViewData["jsBundles"])
    {
        <script src="@bundle"></script>
    }
    @foreach (var bundle in (string[])ViewData["cssBundles"])
    {
        <link href="@bundle" rel="stylesheet" />
    }
</head>
<body>
    @RenderBody()
</body>
</html>
